.foxybdrp-font-preview {
    font-size: 32px;
    line-height: 100%;
}

#foxybdrp-add-custom-font-button {
    display: inline-block;
    margin-top: 32px;
    border-width: 0px;
    border-radius: 4px;
    padding: 12px 20px;
    background-color: var(--foxybdr-button-bg-color);
    color: var(--foxybdr-button-t-color);
    font-size: 14px;
    line-height: 1.0;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

#foxybdrp-add-custom-font-button:hover {
    background-color: var(--foxybdr-button-bg-color-h);
}

    #foxybdrp-add-custom-font-button .dashicons {
        position: relative;
        top: 3px;
        font-size: 14px;
        vertical-align: middle;
    }

